.membership-memeber {
    .filter-box {
        margin-bottom: 20px;
    }

    .table {
        &-body {
            &-col {
                .color-grey {
                    color: #72777A; 
                }

                .color-green {
                    color: #00B34A;
                }

                .color-red {
                    color: #EF2B49;
                }

                .color-purple {
                    color: #4318FF;
                }

                .text-underline {
                    text-decoration: underline;
                    text-underline-offset: 3px;
                }

                .link {
                    position: relative;

                    &:hover {
                        &:after {
                            transform: scaleX(1);
                        }
                    }

                    &:after {
                        background: #000;
                        bottom: 0;
                        content: "";
                        display: block;
                        height: 1px;
                        left: 0;
                        position: absolute;
                        bottom: -2px;
                        transform: scaleX(0);
                        transform-origin: left;
                        transition: all 0.2s ease;
                        width: 100%;
                    }
                }
            }
        }
    }

    &.detail {
        .table-wrap {
            background: #fff;
            padding: 20px 30px;
            border-radius: 16px;
        }

        .btn-wrap {
            margin: 40px 0 20px;
        }

        .select-wrap {
            display: flex;
            gap: 10px;

            .select-default {
                flex: 1;

                select {
                    min-width: 100%;
                }
            }
        }
    }
}