// fade
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-in-out-enter-active,
.fade-in-out-leave-active {
  transition: opacity 0.4s ease;
}

.fade-in-out-enter-from,
.fade-in-out-leave-to {
  opacity: 0;
}

// slide
.slide-enter-active {
  transition: max-height 0.3s ease-in;
}

.slide-leave-active {
    transition: max-height 0.3s ease-in cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to, .slide-leave-from {
    max-height: 1000px;
    overflow: hidden;
}

.slide-enter-from, .slide-leave-from {
    overflow: hidden;
    max-height: 0;
}

// accordion 
.accordion-enter-active {
  transition: all 0.2s ease;
  opacity: 1;
}

.accordion-leave-active {
  transition: all 0.2s ease;
  opacity: 0;
}

.accordion-enter-from, .accordion-leave-to {
  max-height: 0;
}

.accordion-enter-to, .accordion-leave-from {
  max-height: 92px;
}

// 토스트 애니메이션
.toast-fade-enter-active,
.toast-fade-leave-active {
  transition: all 0.4s ease;
}

.toast-fade-enter-from {
  opacity: 0;
  transform: translate(-50%, -100%);
}

.toast-fade-enter-to {
  opacity: 1;
  transform: translate(-50%, 0%);
}

.toast-fade-leave-from {
  opacity: 1;
  transform: translate(-50%, 0);
}

.toast-fade-leave-to {
  opacity: 0;
  transform: translate(-50%, -100%);
}

@keyframes wiggle-left-right {
    0% { transform: translateX(0); }
    50% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

@keyframes toast-slide-down {
  0% {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  
  100% {
    transform: translate(-50%, 0%);
    opacity: 1;
  }
}