@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url('/fonts/pretendard/Pretendard-Bold.subset.woff2') format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url('/fonts/pretendard/Pretendard-SemiBold.subset.woff2') format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url('/fonts/pretendard/Pretendard-Medium.subset.woff2') format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url('/fonts/pretendard/Pretendard-Regular.subset.woff2') format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url('/fonts/pretendard/Pretendard-Light.subset.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-weight: 300;
	font-display: swap;
	src: local('Inter Light'), url('/fonts/inter/Inter_28pt-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Inter';
	font-weight: 400;
	font-display: swap;
	src: local('Inter Regular'), url('/fonts/inter/Inter_28pt-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Inter';
	font-weight: 500;
	font-display: swap;
	src: local('Inter Medium'), url('/fonts/inter/Inter_28pt-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Inter';
	font-weight: 600;
	font-display: swap;
	src: local('Inter SemiBold'), url('/fonts/inter/Inter_28pt-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Inter';
	font-weight: 700;
	font-display: swap;
	src: local('Inter Bold'), url('/fonts/inter/Inter_28pt-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Inter';
	font-weight: 800;
	font-display: swap;
	src: local('Inter ExtraBold'), url('/fonts/inter/Inter_28pt-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Pacifico';
	font-weight: 400;
	font-display: swap;
	src: local('Pacifico Regular'), url('/fonts/pacifico/Pacifico-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Nunito';
	font-weight: 300;
	font-display: swap;
	src: local('Nunito Light'), url('/fonts/nunito/Nunito-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Nunito';
	font-weight: 400;
	font-display: swap;
	src: local('Nunito Regular'), url('/fonts/nunito/Nunito-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Nunito';
	font-weight: 500;
	font-display: swap;
	src: local('Nunito Medium'), url('/fonts/nunito/Nunito-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Nunito';
	font-weight: 600;
	font-display: swap;
	src: local('Nunito SemiBold'), url('/fonts/nunito/Nunito-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Nunito';
	font-weight: 700;
	font-display: swap;
	src: local('Nunito Bold'), url('/fonts/nunito/Nunito-Bold.ttf') format('truetype');
}
