.floating-menu {
    min-width: 240px;
    height: 100%;
    transition: all ease .2s;
    margin-top: -30px;

    &-list {
        border-bottom: 1px solid #E5E7E8;
        padding: 30px 0;
    }

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 1.16;

        &.is-active {
            img {
                transform: rotate(180deg);
            }
        }

        .text {
            font-size: 24px;
            font-weight: 700;                
        }

        img {
            width: 24px;
            height: 24px;
            transition: all ease .2s;
        }
    }

    .gnb {
        display: block;
        overflow: hidden;
        transition: all ease .2s;

        &-list {
            margin: 0;
            padding: 0;

            &:first-child {
                padding-top: 30px;
            }

            &:after {
                display: none; 
            }

            &-link {
                display: inline-block;
                font-size: 16px;
                padding: 20px 0;
                color: #9B9FA3;
                line-height: 1.25;
                position: relative;
                transition: all ease .2s;

                &:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: #298097;
                    position: absolute;
                    left: 0;
                    bottom: 16px;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: all ease 0.2s;
                }

                &:hover, &.is-active {
                    color: #298097;
                    font-weight: 700;
                    text-decoration: none;
                    

                    &:after {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .floating-menu {
        display: none;
    }
}