.dp__main {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
}

::v-deep(.dp__input_wrap) {
    width: 16px;
    height: 20px;
}

::v-deep(.dp__input_focus) {
    & + div {
        .dp__input_icons {
            background: #ccc;
        }
    }
}

::v-deep(.dp__input) {
    display: none;
}

::v-deep(.dp__input_icons) {
    padding: 0;
    color: #000;
    border-radius: 4px;

    &:hover {
        background: #ccc;
    }
}

::v-deep(.dp--clear-btn) {
    display: none;
}

::v-deep(.dp--overlay-relative) {
    border-radius: 8px;
}

::v-deep(.dp--menu--inner-stretched) {
    padding: 0;
}

::v-deep(.dp__arrow_top) {
    display: none;
}

::v-deep(.dp__month_year_wrap) {
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: auto;
    font-family: 'Pretendard';
}

::v-deep(.dp--header-wrap) {
    padding-bottom: 20px;
}

::v-deep(.dp__calendar_header) {
    border-top: 1px solid #E5E7E8;
}

::v-deep(.dp__btn) {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    width: auto;
    padding: 5px;

    &:nth-child(2) {
        // font-size: 14px;
    }
}

::v-deep(.dp__button) {
    display: none;
}

::v-deep(.dp--year-mode-picker) {
    height: 60px;
    padding: 0 24px;

    .dp__icon {
        color: #676D73;
    }
}

::v-deep(.dp__overlay) {
    height: 100%;
}

::v-deep(.dp__overlay_container) {
    height: 100%;
    min-height: 325px;
    border-bottom: 1px solid #E5E7E8;
    background: #fff;
}

::v-deep(.dp__calendar_row) {
    margin: 0;
}

::v-deep(.dp__container_block) {
    height: 100%;
}

::v-deep(.dp__overlay_col) {
    border: 1px solid #E5E7E8;
    border-left: 0;
    border-bottom: 0;
    padding: 0;
    flex: 1;
    height: 100%;

    &:first-child {
        border-left: 1px solid #E5E7E8;
    }
}

::v-deep(.dp__input_icons) {
    padding: 5px;
    color: #000;
    transition: all ease .2s;
}

::v-deep(.dp__overlay_cell) {
    height: 100%;
    min-height: 65px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 14px;
}

::v-deep(.dp__overlay_cell:hover) {
    border-radius: 0;
}

::v-deep(.dp__overlay_cell_active) {
    background: rgba(255, 117, 25, 0.16);
    color: #000;
    border-radius: 0;
    height: 100%;
    min-height: 65px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 14px;
}

::v-deep(.dp__button.dp__overlay_action) {
    bottom: -34px;
    left: 0;
    border: 1px solid #E5E7E8;
    background: #fff;
    display: none;
}

::v-deep(.dp__month_year_select) {
    &:nth-child(1) {
        order: 1;
    }
}

::v-deep(.dp__active_date) {
    background: #FF7519;
    border-radius: 50%;
}

::v-deep(.dp__menu) {
    border: 0;
}

::v-deep(.dp__menu_inner) {
    padding: 24px;
    box-shadow: 8px 3px 22px 10px rgba(150, 150, 150, 0.11);
    border: 0;
}

::v-deep(.dp__today) {
    border: 1px solid #FF7519;
    border-radius: 50%;
    padding: 0;
}

::v-deep(.dp__calendar_item) {
    font-size: 14px;
    font-family: 'Pretendard';
}

::v-deep(.dp__cell_inner) {
    width: 35px;
}

::v-deep(.dp__date_hover:hover) {
    background: rgba(255, 117, 25, 0.1);
    border-radius: 50%;
}

::v-deep(.dp__calendar_header_item) {
    font-size: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 20px 0;

    &:after {
        font-family: 'Pretendard';
        font-size: 10px;
        color: #52575C;
        text-transform: uppercase;
        font-weight: 400;
    }

    &:nth-child(1) {
        &:after {
            content: 'MON';
        }
    }

    &:nth-child(2) {
        &:after {
            content: 'TUE';
        }
    }

    &:nth-child(3) {
        &:after {
            content: 'WED';
        }
    }

    &:nth-child(4) {
        &:after {
            content: 'THU';
        }
    }

    &:nth-child(5) {
        &:after {
            content: 'FRI';
        }
    }

    &:nth-child(6) {
        &:after {
            content: 'SAT';
        }
    }

    &:nth-child(7) {
        &:after {
            content: 'SUN';
        }
    }
}

::v-deep(.dp__calendar_header_separator) {
    display: none;
}

