.header {
    &.is-mob {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .header {
        &.is-mob {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #000;
            color: #fff;
            padding: 20px 24px;
            height: 60px;
            border-bottom: 1px solid #E5E7E8;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 100;
            transition: all ease .4s;

            .btn-back {
                position: absolute;
                left: 24px;

                img {
                    width: 18px;
                    height: 18px;
                }
            }

            .title {
                font-weight: 600;
                font-size: 18px;
            }

            .btn-profile {
                // position: absolute;
                // right: 24px;

                .image {
                    border: 1px solid #ddd;
                    border-radius: 50%;
                    width: 36px;
                    height: 36px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: #fff;
                }
            }

            .btn-wrapper {
                position: absolute;
                right: 24px;
                display: inline-flex;
                align-items: center;
                gap: 10px;

                &-list {
                    width: 36px;
                    height: 36px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;

                    button {
                        overflow: visible;
                    }

                    .num {
                        position: absolute;
                        right: 3px;
                        top: 3px;
                        color: #fff;
                        min-width: 14px;
                        width: auto;
                        height: 14px;
                        padding: 2px;
                        background: #EF2B49;
                        border-radius: 8px;
                        font-size: 10px;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }

            .nav {
                background: #fff;
                position: fixed;
                width: 100%;
                height: 100%;
                z-index: 10;
                top: 0;
                left: -100%;
                transition: all ease .4s;

                &-wrap {
                    height: 100vh;
                    background: #fff;

                    .header {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-bottom: 1px solid #E5E7E8;
                        background: #000;
                        color: #fff;
                        height: 60px;
                        padding: 0 24px;
                        position: initial;

                        .logo {
                            img {
                                height: 30px;
                            }
                        }

                        .btn-close {
                            position: absolute;
                            right : 24px;
                            top: 18px;

                            img {
                                height: 28px;
                            }
                        }
                    }
                    
                    .content {           
                        overflow-y: auto;
                        height: calc(100svh - 60px);

                        .profile {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            gap: 10px;
                            padding: 20px 0 34px 0;
                            color: #000;

                            &-image {
                                border: 1px solid #DDD;
                                width: 62px;
                                height: 62px;
                                background-size: cover;
                                background-position: center;
                                background-repeat: no-repeat;
                                border-radius: 50%;   
                            }

                            &-name {
                                font-size: 20px;
                                font-weight: 500;

                                small {
                                    color: #35383B;
                                }
                            }

                            &-email {
                                font-size: 12px;
                                color: #676D73;
                                line-height: 1.66;
                            }
                        }

                        .menu {
                            padding: 0 20px;
                            color: #000;

                            &-list {
                                border-bottom: 1px solid #E5E7E8;

                                &-item {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    padding: 16px 0;
                                    height: 82px;
                                    width: 100%;

                                    &.is-active {
                                        .text {
                                            font-weight: 700;
                                            color: #FF7519;
                                        }

                                        img {
                                            transform: rotate(180deg);
                                        }
                                    }

                                    .text {
                                        font-size: 22px;
                                    }

                                    img {
                                        width: 12px;
                                        transition: all ease .2s;
                                    }
                                }

                                .slide {
                                    overflow: hidden;
                                }

                                .depth {
                                    margin-left: 10px;

                                    &-list {
                                        margin-bottom: 12px;

                                        &-item {
                                            display: flex;
                                            align-items: center;
                                            font-size: 22px;
                                            height: 34px;

                                            &.is-on {
                                                color: #298097;
                                            }

                                            &.is-active {
                                                color: #298097;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .menu-list {
                            &:first-child {
                                border-top: 1px solid #E5E7E8;
                            }
                        }

                        &-list {
                            padding: 20px 24px;
                            border-bottom: 1px solid #E5E7E8;
                        }

                        &-title {
                            font-size: 14px;
                            color: #14171A;
                            line-height: 1.42;
                            margin-bottom: 12px;

                            .label {
                                &.color-purple {
                                    color: #552BB6;
                                }

                                &.color-blue {
                                    color: #3577F1;
                                }
                            }

                            .text {
                                margin-left: 4px;
                                cursor: pointer;
                                position: relative;

                                &:hover {
                                    &:after {
                                        transform: scaleX(1);
                                    }
                                }

                                &:after {
                                    content: "";
                                    display: block;
                                    width: 100%;
                                    height: 1px;
                                    background: #000;
                                    position: absolute;
                                    left: 0;
                                    bottom: -2px;
                                    transform: scaleX(0);
                                    transform-origin: left;
                                    transition: all ease 0.2s;
                                }
                            }
                        }

                        &-sub {
                            font-size: 13px;
                            color: #52575C;
                            line-height: 1.53;
                            margin-bottom: 12px;
                        }

                        &-desc {
                            font-size: 13px;
                            color: #52575C;
                            line-height: 1.53;
                            margin-bottom: 12px;
                        }

                        &-date {
                            font-size: 12px;
                            color: #676D73;
                            line-height: 1.66;
                        }
                    }

                    .footer {
                        // border-top: 1px solid #E5E7E8;

                        .btn-wrap {
                            padding: 24px;

                            button {
                                min-width: 100%;

                                & + button {
                                    margin-top: 12px;
                                }
                            }
                        }
                    }
                }

                &.is-active {
                    left: 0;
                }

                &.my-menu {
                    left: auto;
                    right: -100%;

                    &.is-active {
                        right: 0;
                    }

                    .nav-wrap {
                        .header {
                            img {
                                width: 18px;
                            }

                            .btn-prev {
                                position: absolute;
                                left: 24px;
                            }

                            .logo {
                                img {
                                    width: auto;
                                }
                            }
                        }

                        .content {
                            .profile {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;
                                gap: 10px;
                                padding: 20px 0 34px 0;

                                &-image {
                                    border: 1px solid #DDD;
                                    width: 62px;
                                    height: 62px;
                                    background-size: cover;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    border-radius: 50%;   
                                }

                                &-name {
                                    font-size: 20px;
                                    font-weight: 500;
                                }

                                &-email {
                                    font-size: 12px;
                                    color: #676D73;
                                    line-height: 1.66;
                                }
                            }

                            .menu-list {
                                &:first-child {
                                    border-top: 1px solid #E5E7E8;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.is-active {
            transform: translateY(-100%);
        }
    }
}