.coaching {
    margin-top: 123px;

    .filter-box {
        padding: 28px 40px;
        background: #F8F9FA;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4px;
        flex-wrap: wrap;
        margin-bottom: 30px;

        &:has(.swiper-area) {
            background: #fff;
        }

        &.type02 {
            background: none;
            padding: 0;
            justify-content: space-between;
        }

        &.hp-gap-60 {
            gap: 60px;

            .search-area {
                flex: 1;
            }
        }

        .search-area {
            display: inline-flex;
            align-items: center;
            gap: 10px;

            button {
                height: 46px;
            }
        }

        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .text {
                font-size: 16px;
            }

            .btn-all {
                display: inline-flex;
                align-items: center;
                gap: 4px;
                font-size: 15px;
                color: #52575C;

                img {
                    width: 24px;
                }
            }
        }

        .swiper-area {
            margin-top: 24px;
            position: relative;

            .swiper-button-disabled {
                svg {
                    path {
                        fill: #9B9FA3;
                    }
                }
            }

            .btn-prev {
                position: absolute;
                left: -25px;
                top: 42%;
                transform: translateY(-50%);
                z-index: 1;
            }

            .btn-next {
                position: absolute;
                right: -48px;
                top: 42%;
                transform: translateY(-50%);
                z-index: 1;
                border: 0;

                &:before {
                    display: none;
                }
                
            }
        }

        &:has(.swiper) {
            display: block;

            .swiper-slide {
                cursor: pointer;

                .info-area {
                    .title {
                        display: inline-block;
                        position: relative;
                        transform: scaleX(1);
                        z-index: 0;
                        padding-bottom: 2px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 100%;

                        &:after {
                            content: "";
                            display: block;
                            width: 100%;
                            height: 2px;
                            background: #000;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            transform: scaleX(0);
                            transform-origin: left;
                            transition: all ease 0.2s;
                        }
                    }

                    .btn-all {
                        .text {
                            position: relative;

                            &:after {
                                content: "";
                                display: block;
                                width: 100%;
                                height: 1px;
                                background: #000;
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                transform: scaleX(0);
                                transform-origin: left;
                                transition: all ease 0.2s;
                            }

                            &:hover {
                                &:after {
                                    transform: scaleX(1);
                                }
                            }
                        }
                    }
                }

                &:hover {
                    .info-area {
                        .title {
                            &:after {
                                transform: scaleX(1);
                            }
                        }
                    }
                }
            }

            .title {
                font-size: 16px;
                line-height: 1.2;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                
                .point {
                    color: #298097;
                }
            }

            .video-area {       
                aspect-ratio: 5/3;
                border-radius: 8px;
                overflow: hidden;
                border: 1px solid #ccc;
                background-color: #E5E7E8;

                &::v-deep(video) {
                    width: 100%;
                    height: 100%;
                }

                &::v-deep(.video-js) {
                    &.vjs-fluid:not(.vjs-audio-only-mode) {
                        height: 100%;
                    }

                    .vjs-big-play-button {
                        width: 60px;
                        height: 60px;
                    }
                }
            }

            .info-area {
                margin-top: 24px;

                .title {
                    font-size: 16px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .date {
                    font-size: 14px;
                    color: #767676;
                    margin-top: 10px;
                }
            }
        }

        .datepicker {
            display: inline-flex;
            align-items: center;
            gap: 12px;
        }

        .btn-search {
            width: 115px;
            height: 46px;
            background: #000;
            border-radius: 4px;
            color: #fff;
            position: relative;
            z-index: 0;
            overflow: hidden;

            &:before {
                border-radius: 50%;
                content: "";
                height: 200%;
                left: -20%;
                opacity: 0;
                background: #5a5a5a;
                position: absolute;
                top: -50%;
                transform: scale(0);
                transform-origin: bottom left;
                transition: all .4s;
                width: 150%;
                z-index: -1;
            }

            &:hover {
                &:before {
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }

        .select-default {
            color: #9B9FA3;
            
            select {
                height: 46px;
                min-width: 160px;
                border-radius: 4px;
            }

            & + .select-default {
                margin-left: 10px;
            }
        }

        .input-text {
            margin-left: 16px;

            input {
                height: 46px;
                min-width: 320px;
                
            }
        }

        .btn-search {
            height: 48px;
        }

    }

    &-head {
        margin-bottom: 30px;
        font-size: 40px;
        font-weight: 600;
        position: relative;
    }

    &-wrap {
        max-width: 1510px;
        margin: 0 auto;
        padding: 60px 0;
    }

    &-section {
        margin-bottom: 64px;

        &:last-child {
            margin: 0;
        }

        & > .title {
            color: #14171A;
            font-size: 22px;
            font-weight: 700;
            line-height: 1.45;
            margin-bottom: 20px;
        }

        .cont {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 54px 26px;

            &-list {
                &-link {
                    &:hover {
                        .img-area {
                            .image {
                                transform: scale(1.1);
                            }
                        }

                        .title {
                            text-decoration-line: underline;
                        }
                    }

                    .img-area {
                        overflow: hidden;
                        border-radius: 8px;
                        overflow: hidden;
                        background-color: #E5E7E8;

                        .image {
                            aspect-ratio: 88/49;
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center;
                            transition: all ease .2s;
                            position: relative;

                            &.no-data {
                                height: 100%;
                                background-size: auto 30px;
                                background-position: center center;
                                transform: translate(0);
                                left: auto;
                            }
                        }

                    }
                    
                    .label {
                        margin-top: 15px;

                        &-list {
                            display: inline-block;
                            color: #676D73;
                            font-size: 14px;
                            position: relative;
                            padding-right: 10px;
                            margin-right: 10px;

                            &:last-child {
                                &:after {
                                    display: none;
                                }
                            }

                            &:after {
                                content: '';
                                display: block;
                                width: 1px;
                                height: 12px;
                                background: #ADB0B3;
                                position: absolute;
                                right: 0;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }

                    .title {
                        margin-top: 16px;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 1.5;
                        text-decoration-thickness: 2px;
                        text-underline-offset: 3px;
                    }

                    .name {
                        margin-top: 10px;
                        color: #676D73;
                        font-size: 14px;
                        line-height: 1.42;
                    }

                    .state {
                        margin-top: 4px;

                        &-list {
                            display: inline-flex;
                            align-items: center;
                            color: #35383B;
                            margin-right: 10px;

                            &:last-child {
                                margin: 0;
                            }

                            .icon {
                                width: 20px;
                                height: 20px;
                            }

                            .num {
                                color: #35383B;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1650px) {
    .coaching {
        &-wrap {
            max-width: 100%;
            padding: 60px 20px;
        }

        &-section {
            .cont {
                grid-template-columns: repeat(4, 1fr);
                gap: 45px 25px;
            }
        }
    }
}


@media screen and (max-width: 1024px) {
    .coaching {
        margin-top: 60px;

        &-head {
            display: none;
        }

        &-wrap {
            padding: 20px;
        }

        &-section {
            .cont {
                grid-template-columns: repeat(3, 1fr);
                gap: 30px 20px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .coaching {
        margin-top: 60px;

        .filter-box {
            padding: 20px 12px;

            .search-area {
                flex-direction: column;
                gap: 8px;
                width: 100%;
                gap: 16px;

                &-flex {
                    width: 100%;
                }

                .input-text {
                    width: 100%;
                    margin: 0;

                    input {
                        width: 100%;
                    }
                }

                .select-default {
                    width: 100%;

                    select {
                        width: 100%;
                    }

                    & + .select-default {
                        margin: 8px 0 0 0;
                    }

                    & + .input-text {
                        margin: 8px 0 0 0;
                    }
                }

                .datepicker {
                    width: 100%;
                }

                .btn-search {
                    width: 100%;
                }
            }
        }

        &-wrap {
            padding: 20px;
        }

        &-section {
            .title {
                font-size: 16px;
            }

            .cont {
                grid-template-columns: repeat(2, 1fr);
                gap: 20px 15px;

                &-list {
                    &-link {
                        .title {
                            font-size: 14px;
                        }

                        .name {
                            display: none;
                        }

                        .state {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}