.dashboard {
    opacity: 0;
    transform: translateY(2%);
    transition: all .4s cubic-bezier(.37, 0, .63, 1);

    &.is-move {
        opacity: 1;
        transform: initial;
    }

    &-grid {
        &-list {
            display: flex;
            gap: 20px;

            & + .dashboard-grid-list {
                margin-top: 20px;
            }
        }

        &-item {
            flex: 1;
            background: #fff;
            padding: 28px 30px;
            border-radius: 16px;

            .title {
                font-size: 20px;
                font-weight: 700;
                color: #1B2559;
                margin-bottom: 20px;
            }
        }
    }
} 

@media screen and (max-width: 1024px) {
    .dashboard {
        &-grid {
            &-list {
                display: block;
            }

            &-item {
                & + .dashboard-grid-item {
                    margin-top: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .dashboard {
        &-grid {
            &-item {
                padding: 20px;

                .title {
                    font-size: 16px;
                }
                
                & + .dashboard-grid-item {
                    margin-top: 16px;
                }
            }
        }
    }
}