.dashboard {
    opacity: 0;
    transform: translateY(2%);
    transition: all .4s cubic-bezier(.37, 0, .63, 1);

    &.is-move {
        opacity: 1;
        transform: initial;
    }

    &-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        &-item {
            background: #fff;
            padding: 28px 30px;
            border-radius: 16px;

            .title {
                font-size: 20px;
                font-weight: 700;
                color: #1B2559;
                margin-bottom: 20px;
            }
        }
    }
} 