.library {
    margin-top: 70px;

    &-wrap {
        max-width: 1320px;
        margin: 0 auto;
        padding: 50px 0;

        .content {
            &-head {
                font-size: 40px;
                font-weight: 700;
                margin-bottom: 30px;
                border-bottom: 2px solid #000;
                padding-bottom: 15px;
            }

            &-wrap {
                .top-area {
                    padding-bottom: 32px;
                    border-bottom: 1px solid #E5E7E8;

                    .label {
                        font-size: 14px;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 5px;
                        border: 1px solid #000;
                        height: 28px;
                        min-width: 60px;
                        margin-bottom: 20px;

                        &.color-indigo {
                            border: 1px solid #0033A1;
                            color: #0033A1;
                        }
                    }

                    .title {
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 1.16;
                        margin-bottom: 20px;
                    }

                    .info {
                        display: flex;
                        align-items: center;

                        &-list {
                            font-size: 14px;
                            color: #676D73;
                            line-height: 1.42;
                            position: relative;
                            padding-right: 20px;
                            margin-right: 20px;

                            &:after {
                                content: '';
                                display: block;
                                width: 1px;
                                height: 12px;
                                background: #ADB0B3;
                                position: absolute;
                                right: 0;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }

                        .download {
                            display: inline-flex;
                            align-items: center;
                            gap: 4px;

                            .btn-download {
                                img {
                                    width: 24px;
                                    min-width: 24px;
                                    height: 24px;
                                }
                            }

                            .text {
                                font-size: 14px;
                                color: #35383B;
                                line-height: 1.42;
                                text-decoration-line: underline;
                                text-decoration-style: solid;
                                text-decoration-skip-ink: none;
                                text-decoration-thickness: auto;
                                text-underline-offset: auto;
                                text-underline-position: from-font;
                            }
                        }
                    }
                }

                .desc-area {
                    padding: 40px 0;
                    border-bottom: 1px solid #E5E7E8;
                    margin-bottom: 30px;

                    p {
                        font-size: 14px;
                        color: #52575C;
                        line-height: 2;
                    }
                }

                .reply-area {
                    .tit {
                        margin-bottom: 10px;
                    }

                    .review-writing {
                        border: 1px solid #CDCFD1;
                        background: #fff;
                        border-radius: 8px;
                        padding: 20px 20px 10px;

                        .text-area {
                            padding: 0;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                            margin-bottom: 10px;

                            textarea {
                                width: 100%;
                                height: 96px;
                                border: 0;
                                resize: none;
                                padding: 0;
                                border-radius: 0;
                            }
                        }

                        .attach-area {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .btn {
                                display: flex;

                                &-list {
                                    &-item {
                                        position: relative;
                                        z-index: 0;
                                        padding: 10px;

                                        &:hover {
                                            &:before {
                                                transform: scale(1);
                                            }
                                        }

                                        &:before {
                                            content: "";
                                            display: block;
                                            width: 100%;
                                            height: 100%;
                                            background: #F8F9FA;
                                            border-radius: 50%;
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            transform: scale(0);
                                            z-index: -1;
                                            transition: all ease 0.2s;
                                        }

                                        img {
                                            width: 30px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .btn-wrap {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    margin-top: 36px;
                    text-align: center;

                    a, button {
                        min-width: 180px;
                        height: 54px;
                        line-height: 52px;
                        display: inline-block;
                        margin: 0;
                    }
                }

                .page-area {
                    margin-top: 100px;
                    border-top: 1px solid #E5E7E8;
                    border-bottom: 1px solid #E5E7E8;
                    padding: 22px 0;

                    &-list {
                        display: flex;
                        align-items: center;
                        gap: 70px;
                        font-size: 14px;
                        margin-bottom: 16px;
                        height: auto;

                        &:last-child {
                            margin: 0;
                        }

                        .tit {
                            min-width: 38px;
                        }

                        .cnt {
                            color: #52575C;
                            line-height: 1.2;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1370px) {
    .library {
        &-wrap {
            max-width: 100%;
            margin: 0 20px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .library {
        margin-top: 60px;

        &-wrap {
            padding: 20px 0;
        }

        .content-head {
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {
    .library {
        &-wrap {
            .content-wrap {
                .top-area {
                    padding-bottom: 28px;

                    .label {
                        margin: 0 8px 0 0;
                    }

                    .title {
                        display: inline;
                        font-size: 20px;
                        line-height: 1.5;
                    }

                    .info {
                        margin-top: 16px;
                        display: block;

                        &-list {
                            &:nth-child(2) {
                                margin: 0;
                                padding: 0;

                                &:after {
                                    display: none;
                                }
                            }
                        }
                        
                        .download {
                            display: flex;
                            margin-top: 8px;
                        }
                    }
                }

                .desc-area {
                    padding: 32px 0 40px 0;
                }

                .btn-wrap {
                    margin-top: 60px;
                    flex-direction: column;

                    a, button {
                        min-width: 100%;
                        height: 46px;
                        line-height: 44px;
                    }
                }

                .page-area {
                    margin-top: 60px;
                }
            }
        }
    }
}