.login {
    background: #fff;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;

    &.index {
        .form-input {
            margin-bottom: 16px;

            &:nth-child {
                margin-bottom: 34px;
            }
        }
    }

    &.find-id,  &.find-pw {
        .form-input {
            &:last-child {
                margin: 0;
            }
    
            &-btn {
                margin: 0;
            }
    
            &.type-phone {
                margin-bottom: 34px;
            }
        }
    }

    &.pw-chk {
        .title {
            font-size: 30px;
            font-weight: 700;
            color: #000;
            margin-bottom: 24px;
        }

        .sub {
            font-size: 14px;
            color: #676D73;
            line-height: 1.7;
            margin-bottom: 40px;
            text-align: center;
        }

        .form {
            padding: 0;
            background: none;
            border: 0;

            &-input {
                margin-bottom: 34px;

                &-btn {
                    padding-bottom: 34px;
                    border-bottom: 1px solid #E5E7E8;
                }

                &-sub {
                    margin-bottom: 26px;

                    .text {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .logo {
        text-align: center;
        margin-bottom: 36px;

        img {
            margin: 0 auto;
            height: 64px;
        }
    }

    .title {
        font-size: 24px;
        font-weight: 700;
        color: #676D73;
        text-align: center;
        margin-bottom: 20px;
    }

    .form {
        background: #fff;
        padding: 37px 43px;
        border-radius: 20px;
        min-width: 460px;
        background: #FAFBFC;
        border: 1px solid #E5E7E8;

        &-title {
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 24px;
            text-align: center;
        }

        &-input {
            margin-bottom: 16px;

            &:last-child {
                margin: 0;
            }

            &-flex {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 34px;
            }

            .check-box {
                input[type=checkbox] {
                    &:checked {
                        & + label {
                            .check-box-item {
                                background: #FF7519;
                                border-color: #FF7519;

                                .item-line {
                                    &:before, &:after {
                                        background: #fff;
                                    }
                                }
                            }
                        }
                    }

                    & + label {
                        .check-box {
                            &-item {
                                border-radius: 8px;
                                
                                .item-line {
                                    border: 1px solid #fff;
                                    display: inline-block;
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 6px;

                                    &:before {
                                        background: #FF7519;
                                        height: 5px;
                                        left: 8px;
                                    }

                                    &:after {
                                        background: #FF7519;
                                        height: 9px;
                                        top: 14px;
                                    }
                                }
                            }

                            &-txt {
                                margin-left: 8px;
                            }
                        }
                    }
                }
            }
            
            .input-text {
                width: 100%;
                position: relative;
                overflow: hidden;
                border-radius: 8px;

                input {
                    width: 100%;
                    height: 56px;
                    border-radius: 8px;

                    & + label + .focus-border {
                        &:before, &:after {
                            background-color: #FF7519;
                        }
                        
                        i {
                            &:before, &:after {
                                background-color: #FF7519;
                            }
                        }
                    }

                    &:focus, &:valid {
                        padding: 16px 10px 9px 12px;
                        border: 1px solid #FF7519;

                        & + label + .focus-border {
                            &:before, &:after {
                                width: 100%;
                                transition: all ease 0.3s;
                                background-color: #FF7519;
                            }
                
                            i {
                                &:before , &:after {
                                    height: 100%;
                                    transition: all ease 0.4s;
                                    background-color: #FF7519;
                                }
                            }
                        }

                        & + label {
                            font-size: 11px;
                            top: 14px;
                        }
                    }

                    & + label {
                        position: absolute;
                        left: 13px;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: all ease .2s;
                        pointer-events: none;
                        color: #757575;
                    }
                }
            }

            .find-box {
                display: inline-flex;

                &-list {
                    &:last-child {
                        .find-box-list-link {
                            margin: 0;
                            padding: 0;

                            &:after {
                                display: none;
                            }
                        }
                    }
                    
                    &-link {
                        color: #676D73;
                        position: relative;
                        margin-right: 10px;
                        padding-right: 10px;
                        font-size: 14px;

                        &:hover {
                            color: #298097;
                        }

                        &:after {
                            content: '';
                            display: block;
                            width: 1px;
                            height: 14px;
                            background: #ADB0B3;
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
            
            &-btn {
                margin-bottom: 30px;

                &-wrap {
                    display: flex;
                    gap: 10px;
                }

                button, a {
                    width: 100%;
                    margin: 0;
                }
            }

            &-sns {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                margin-bottom: 34px;

                .sns-list {
                    width: 44px;
                    height: 44px;
                    border: 1px solid #CDCFD1;
                    border-radius: 50%;

                    &-btn {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        z-index: 0;
                        overflow: hidden;
                        border-radius: 50%;

                        &:before {
                            border-radius: 50%;
                            content: "";
                            height: 200%;
                            left: -20%;
                            opacity: 0;
                            background: #ddd;
                            position: absolute;
                            top: -50%;
                            transform: scale(0);
                            transform-origin: bottom left;
                            transition: all 0.4s;
                            width: 150%;
                            z-index: -1;
                        }

                        &:hover {
                            &:before {
                                transform: scale(1);
                                opacity: 1;
                            }
                        }
                    }

                    &.facebook {
                        img {
                            height: 30px;
                        }
                    }
                }
            }

            &-sub {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;

                &.align-left {
                    justify-content: flex-start;
                }

                img {
                    height: 20px;
                }
                
                .text {
                    color: #676D73;
                }

                .link {
                    color: #FF7519;
                    text-decoration: underline;
                    text-underline-offset: 3px;
                }
            }

            &-title {
                font-size: 30px;
                font-weight: 700;
                text-align: center;
                margin-bottom: 24px;

                &.align-left {
                    text-align: left;
                }
            }

            &-sub {
                color: #5A5A5A;
                line-height: 1.5;
            }

            &-menu {
                display: none;
            }
        }
    }
}

.header {
    height: 60px;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    border-bottom: 1px solid #E5E7E8;
    background: #000;
    color: #fff;

    .btn-menu {
        position: absolute;
        left: 24px;

        img {
            height: 18px;
        }
    }

    .title {
        font-weight: 600;
        font-size: 18px;
    }

    .btn-profile {
        position: absolute;
        right: 24px;

        .image {
            border: 1px solid #ddd;
            border-radius: 50%;
            width: 36px;
            height: 36px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-color: #D9D9D9;
        }
    }

    .nav {
        background: #fff;
        border-left: 1px solid #E5E7E8;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 10;
        top: 0;
        left: -100%;
        transition: all ease .4s;

        &-wrap {
            .header {
                border-bottom: 1px solid #E5E7E8;

                .logo {
                    img {
                        height: 38px;
                    }
                }

                .btn-close {
                    position: absolute;
                    right: 24px;
                    top: 18px;

                    img {
                        height: 28px;
                    }
                }
            }
            
            .content {
                padding: 20px 24px;
                overflow-y: auto;
                height: calc(100svh - 212px);

                &.is-active {
                    height: calc(100svh - 153px);
                }

                .menu {
                    &-list {
                        border-bottom: 1px solid #E5E7E8;

                        &-item {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 16px 0;
                            height: 82px;

                            &.is-active {
                                .text {
                                    font-weight: 700;
                                    color: #298097;
                                }

                                img {
                                    transform: rotate(180deg);
                                }
                            }

                            .text {
                                font-size: 22px;
                                color: #000;
                            }

                            img {
                                width: 12px;
                                transition: all ease .2s;
                            }
                        }

                        .slide {
                            overflow: hidden;
                        }

                        .depth {
                            padding-bottom: 25px;
                            margin-left: 10px;

                            &-list {
                                margin-bottom: 12px;

                                &:last-child {
                                    margin: 0;
                                }

                                &-item {
                                    display: flex;
                                    align-items: center;
                                    font-size: 22px;
                                    height: 34px;

                                    &.is-active {
                                        color: #298097;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .footer {
                border-top: 1px solid #E5E7E8;

                .btn-wrap {
                    padding: 24px;

                    button {
                        min-width: 100%;

                        & + button {
                            margin-top: 12px;
                        }
                    }
                }
            }
        }

        &.is-active {
            left: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .login {
        background: #fff;
        height: calc(100svh - 80px);

        .logo {
            margin-bottom: 15px;
        }

        .title {
            display: none;

            &.is-mob-show {
                display: block;
                margin-bottom: 20px;
            }
        }

        &.find-id, &.find-pw {
            .form-input {
                &:last-child {
                    margin: auto 0 0 0;
                }
            }

            .logo {
                display: none;
            }

            .login-wrap {
                width: 100%;
                height: 100%;
                margin: 0 24px;
            }

            .form {
                padding: 0;
                min-width: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                height: 100%;
    
                &-input {
                    margin-bottom: 16px;

                    &-menu {
                        display: block;
                        position: absolute;
                        left: 25px;
                        top: 22px;
    
                        img {
                            height: 18px;
                        }
                    }
    
                    &-sub {
                        font-size: 14px;
                    }
    
                    &-btn {
                        height: auto;
                        position: relative;
                        padding: 14px 0;
    
                        a, button {
                            height: 46px;
                            line-height: 46px;
                        }
                        
                        &:before {
                            content: '';
                            display: block;
                            width: calc(100% + 40px);
                            height: 1px;
                            background: #E5E7E8;
                            position: absolute;
                            top: 0;
                            left: -20px;
                        }
                    }
                }
            }
        }

        &.find-pw {
            .form-input {
                &.type-phone {
                    margin: 0;
                }
            }
        }

        &.pw-chk {
            .login-wrap {
                width: 100%;
                padding : 0 24px;
            }

            .form {
                min-width: 100%;
            }
            .form-input {
                margin-bottom: 16px;
            }
        }

        &.index {
            .login-wrap {
                width: 100%;
                padding: 0 24px;
            }

            .form {
                padding: 0;
                min-width: 100%;
                background: #fff;
            }
        }

        .form {
            border: 0;
            background: #fff;

            &-title {
                display: none;
            }

            &-input-btn {
                a, button {
                    height: 46px;
                    line-height: 46px;
                }
            }
        }
    }

    .header {
        display: flex;

        .nav {
            border: 0;
        }
    }
}

