.manager-list {
    .table {
        &-body {
            &-col {
                .link {
                    position: relative;
                    line-height: 1.2;

                    &:hover {
                        &:after {
                            transform: scaleX(1);
                        }
                    }
                    
                    &:after {
                            background: #000;
                            bottom: 0;
                            content: "";
                            display: block;
                            height: 1px;
                            left: 0;
                            position: absolute;
                            bottom: -2px;
                            transform: scaleX(0);
                            transform-origin: left;
                            transition: all 0.2s ease;
                            width: 100%;
                    }
                }

                .color-purple {
                    color: #4318FF;
                }

                .text-underline {
                    text-decoration: underline;
                    text-underline-offset: 3px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            &-row {
                opacity: 0;
                transform: translateY(5%);
                transition: all .4s cubic-bezier(.37, 0, .63, 1);

                &:nth-child(1) {
                    transition-delay: .1s;
                }

                &:nth-child(2) {
                    transition-delay: .2s;
                }

                &:nth-child(3) {
                    transition-delay: .3s;
                }

                &:nth-child(4) {
                    transition-delay: .4s;
                }

                &:nth-child(5) {
                    transition-delay: .5s;
                }

                &:nth-child(6) {
                    transition-delay: .6s;
                }

                &:nth-child(7) {
                    transition-delay: .7s;
                }

                &:nth-child(8) {
                    transition-delay: .8s;
                }

                &:nth-child(9) {
                    transition-delay: .9s;
                }

                &:nth-child(10) {
                    transition-delay: 1s;
                }

                &.is-move {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        .btn-wrap {
            padding: 0 0 20px 0;
            position: relative;

            .btn-group {
                a, button {
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }

    &.detail {
        background: #fff;
        padding: 20px 30px;
        border-radius: 16px;

        table {
            tbody {
                tr {
                    td {
                        .input-text {
                            width: 100%;

                            input {
                                width: 100%;
                                height: 40px;
                            }
                        }
                    }
                }
            }
        }
        
        .btn-wrap {
            padding: 40px 0 20px 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .manager-list {
        &.detail {
            table {
                tbody {
                    tr {
                        td {
                            .select-default {
                                width: 100%;
                                
                                select {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
            .btn-wrap {
                flex-direction: column-reverse;
                padding: 20px 0 0 0;

                a, button {
                    width: 100%;
                    height: 40px;
                    line-height: 40px;
                }
            }
        }

        .table {
            .btn-wrap {
                flex-direction: column;

                .pagination-container {
                    padding: 20px 0 10px;
                }

                .btn-group {
                    width: 100%;
                    padding: 0 20px;

                    a, button {
                        position: initial;
                        transform: translateY(0);
                        width: 100%;
                        height: 40px;
                        line-height: 40px;
                    }
                }
            }
        }
    }
}