.membership-member {
    .filter-box {
        margin-bottom: 20px;
    }

    .table {
        &-body {
            &-col {
                .color-grey {
                    color: #72777A; 
                }

                .color-green {
                    color: #00B34A;
                }

                .color-red {
                    color: #EF2B49;
                }

                .color-purple {
                    color: #4318FF;
                }

                .text-underline {
                    text-decoration: underline;
                    text-underline-offset: 3px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .link {
                    position: relative;
                    line-height: 1.2;

                    &:hover {
                        &:after {
                            transform: scaleX(1);
                        }
                    }

                    &:after {
                        background: #000;
                        bottom: 0;
                        content: "";
                        display: block;
                        height: 1px;
                        left: 0;
                        position: absolute;
                        bottom: -2px;
                        transform: scaleX(0);
                        transform-origin: left;
                        transition: all 0.2s ease;
                        width: 100%;
                    }
                }
            }

            &-row {
                opacity: 0;
                transform: translateY(5%);
                transition: all .4s cubic-bezier(.37, 0, .63, 1);

                &:nth-child(1) {
                    transition-delay: .05s;
                }

                &:nth-child(2) {
                    transition-delay: .1s;
                }

                &:nth-child(3) {
                    transition-delay: .15s;
                }

                &:nth-child(4) {
                    transition-delay: .2s;
                }

                &:nth-child(5) {
                    transition-delay: .25s;
                }

                &:nth-child(6) {
                    transition-delay: .3s;
                }

                &:nth-child(7) {
                    transition-delay: .35s;
                }

                &:nth-child(8) {
                    transition-delay: .4s;
                }

                &:nth-child(9) {
                    transition-delay: .45s;
                }

                &:nth-child(10) {
                    transition-delay: .5s;
                }

                &.is-move {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        .btn-wrap {
            padding: 26px 0;
            position: relative;

            .btn-group {
                button {
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }

    &.detail {
        .table {
            opacity: 0;
            transform: translateY(5%);
            transition: all .4s cubic-bezier(.37, 0, .63, 1);

            &.is-move {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .table-wrap {
            background: #fff;
            padding: 20px 30px;
            border-radius: 16px;
        }

        .select-wrap {
            display: flex;
            gap: 10px;

            .select-default {
                flex: 1;

                select {
                    min-width: 100%;
                }
            }
        }

        table {
            tbody {
                border-top: 1px solid #E6EDFF;
            }
        }
    }

    &.write {
        .write-wrap {
            background: #fff;
            padding: 20px 30px;
            border-radius: 16px;

            table {
                tbody {
                    tr {
                        td {
                            .input-wrap {
                                display: flex;
                                align-items: center;
                                gap: 10px;

                                button { 
                                    border-radius: 4px;
                                    height: 40px;
                                    line-height: 38px;
                                }

                                .select-wrap {
                                    margin-left: auto;
                                    display: flex;
                                    gap: 10px;
                                }
                            }

                            .mb-10 {
                                margin-bottom: 10px;
                            }

                            .m-w-100 {
                                input {
                                    width: 100%;
                                }
                            }

                            .input-text {
                                display: block;

                                input {
                                    min-width: 260px;
                                    height: 40px;
                                }
                            }

                            .select-default {
                                select {
                                    min-width: 260px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .membership-member {
        .filter-box {
            .col-2 {
                .col {
                    &.d-flex {
                        .select-default {
                            flex: 1;

                            select {
                                width: 100%;
                            }
                        }
                    }

                    &.flex-column {
                        flex-direction: column;
                        align-items: flex-start;

                        .d-flex {
                            width: 100%;
                        }

                        select {
                            flex: 1;
                        }

                        .btn {
                            width: 100%;
                        }
                    }

                    input, select, .btn {
                        height: 40px;
                    }
                }
            }
        }

        .table {
            .btn-wrap {
                flex-direction: column;

                &.column-reverse {
                    flex-direction: column-reverse;
                }

                .btn-group {
                    width: 100%;
                    padding: 0 20px;

                    a, button {
                        position: initial;
                        transform: translateY(0);
                    }   
                }

                a, button {
                    &:not(.paginate-buttons) {
                        width: 100%;
                        height: 40px;
                        line-height: 40px;
                    }
                }
            }
        }

        &.detail {
            .table-wrap {
                padding: 16px;
                border-radius: 8px;
            }

            .select-wrap {
                &.flex-column {
                    flex-direction: column;
                }
            }

            .btn-wrap {
                flex-direction: column-reverse;

                button {
                    width: 100%;
                    height: 40px;
                    line-height: 38px;
                }
            }
        }

        &.write {
            .write-wrap {
                padding: 16px;

                table {
                    tbody {
                        tr {
                            td {
                                .input-text {
                                    input {
                                        min-width: 100%;
                                    }
                                }

                                .select-default {
                                    width: 100%;

                                    select {
                                        min-width: 100%;
                                    }
                                }

                                .input-wrap {
                                    width: 100%;

                                    &.flex-column {
                                        flex-direction: column;
                                        align-items: flex-start;
                                        gap: 18px;
                                    }

                                    .select-wrap {
                                        margin: 0;
                                        
                                        &.flex-column {
                                            flex-direction: column;
                                            width: 100%;
                                        }
                                    }

                                    .input-text {
                                        flex: 1;
                                    }
                                    
                                    button {
                                        min-width: auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }    
}